/* .peryzSf .perval .ant-input {
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 0;
}

.peryzSf .perval .ant-input:hover {
  border-color: black;
}

.peryzSf .perval input::placeholder {
  color: #757575;
} */